#squareContainer {
    border-color: blue;
    border-style: solid;
    display:flex;
}

#masterContainer {
    display:flex;
    justify-content: center;
    margin:0%;
    align-items: center;

}

.square {
    border-color: whitesmoke;
    display: flex;
    width:auto;
    height: auto;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

control {
    display: flex;
    justify-content: center;
    align-items: center;
}